:root {
    --theme: rgb(239, 241, 245);
    --entry: rgb(230, 233, 239);
    --primary: rgb(76, 79, 105);
    --secondary: rgb(108, 111, 133);
    --tertiary: rgb(204, 208, 218);
    --content: rgb(76, 79, 105);
    --code-block-bg: rgb(76, 79, 105);
    --code-bg: rgb(239, 241, 245);
    --border: rgb(239, 241, 245);
    color-scheme: light;
}

:root[data-theme="dark"] {
    --theme: rgb(30, 30, 46);
    --entry: rgb(49, 50, 68);
    --primary: rgb(205, 214, 244);
    --secondary: rgb(186, 194, 222);
    --tertiary: rgb(69, 71, 90);
    --content: rgb(205, 214, 244);
    --code-block-bg: rgb(49, 50, 68);
    --code-bg: rgb(49, 50, 68);
    --border: rgb(49, 50, 68);
    color-scheme: dark;
}

.list {
    background: var(--code-bg);
}

[data-theme="dark"] .list {
    background: var(--theme);
}
